.section {
  text-align: center;
  margin: 5% 0;
}

.myrow {
  display: flex;
  /* text-align: center; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0 5% 0;
}

.mycol {
  display: flex;
  flex-direction: column;
}

.sections {
  margin: 5% 0;
}