.section {
  margin-bottom: 40px;
}

.myrow {
  display: flex;
  /* text-align: center; */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0 5% 0;
}

.mycol {
  display: flex;
  flex-direction: column;
}

.welcomePage {
  height: 90vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

@media only screen and (max-width: 1000px) {
  .myrow {
    flex-direction: column;
  }

  * {
    font-size: 14px;
  }
}